.view-icon {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  float: right;
  position: relative;
  right: 4vh;
  top: 12.5vh;
}

.entry-tag {
  position: relative;
  left: 2vw;
  margin-top: 1vh;
  background-color: var(--accent);
  padding: 1vh;
  margin-right: 1vh;
  border-radius: 2vh;
  width: fit-content;
  float: left;
}
