#photo-content {
  display: flex;
}

.photo-entry {
  background-color: var(--primary);
  border-radius: 5vh;
  margin-bottom: 5vh;
  padding: 2.5vh;
  padding-bottom: 10vh;
}

.photo {
  border-radius: 5vh;
  aspect-ratio: 4/3;
  width: 100%;
  padding-bottom: 2.5vh;
}

.photo-info {
  float: left;
  margin: 0;
  position: relative;
  left: 2vw;
}

.photo-date {
  color: var(--accent);
}

.photo-icon {
  right: 2.5vw;
  top: -0.5vh;
}
