@charset "UTF-8";

@font-face {
  font-family: "Space";
  src: url("../dump/this/SpaceMono-Regular.ttf") format("ttf");
}

:root {
  --text: rgb(252, 253, 253);
  --background: rgb(3, 6, 7);
  --primary: rgb(57, 66, 116);
  --secondary: rgb(34, 30, 62);
  --tertiary: rgb(94, 74, 181);
  --accent: rgb(100, 116, 160);
}

.centerX {
  display: flex;
  justify-content: center;
}
.centerY {
  display: flex;
  align-items: center;
}

.centerXY {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Space", monospace;
}

h2 {
  margin: 0;
}

#header {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--primary);
}

#opts-button-icon {
  float: left;
  width: 5vh;
  height: 5vh;
  margin: 2vh;
  cursor: pointer;
}

#header-sub {
  background-color: var(--accent);
  border-radius: 3vh;
  margin-left: 2vw;
}

#header-sub-icon {
  width: 5vh;
  height: 5vh;
  margin: 1vh;
}

#header-sub-label {
  margin: 1vh 1.75vh 1vh 0;
}

#select {
  position: absolute;
  right: 1vw;
}

.select {
  float: left;
  margin-right: 0.75vw;
  border-right: 0.3vw dotted var(--text);
  padding-right: 0.75vw;
  cursor: pointer;
}

.select:hover {
  text-decoration: underline;
}

#last {
  border: none;
}

.selected {
  color: var(--accent);
}

#sidebar {
  background-color: var(--primary);
  position: absolute;
  width: 20vw;
  left: 2.5vw;
  top: 15vh;
  border-radius: 4vh;
  padding: 1vw;
}

.social-icon {
  float: left;
  width: 6vh;
  height: 6vh;
  padding: 0.5vh;
}

.social-label {
  padding: 0.5vh;
}

#content-container {
  text-align: center;
  padding: 2vw;
}

#content {
  background-color: var(--secondary);
  width: 46vw;
  padding: 2vw;
  border-radius: 5vh;
  box-shadow: 0 0 2vh var(--tertiary), 0 0 3vh var(--tertiary),
    0 0 4vh var(--tertiary);
}
